*.pyc
#data/
__pycache__/
checkpoints/
*.pth
#*.jpg
SUBMISSION*
venv/
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Pytorch-UNet.iml
.idea/rSettings.xml
.idea/vcs.xml
*.DS_Store
runs/

processed/
augmented_patch/
MODELThu Jul 16 14:45:07 2020.pth
MODELThu Jul 16 18:11:26 2020.pth
